.todos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateBtn {
  top: 25%;
  position: absolute;
  background-color: rgb(169, 48, 169);
  color: white;
  font-size: 2rem;
  border-radius: 0.5rem;
  border-style: none;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.dateBtn:hover {
  background-color: rgb(174, 64, 82);
}