#root {
  height: 100vh;
}

.idol-card {
  background-color: rgba(255,255,255,0.9);
  height: 25rem;
  width: 30rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0px 0px 5px 8px rgba(255,255,255,0.75);
  -webkit-box-shadow: 0px 0px 5px 8px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 5px 8px rgba(255,255,255,0.75);
  position: relative;
}

.idol-card img {
  width: 20rem;
  height: 15rem;
  border-radius: 1rem;
  margin: 1rem 5rem;
}

.voterate {
  position: absolute;
  top: 52%;
  right: 19%;
  color: white;
  background-color: rgba(118, 118, 13, 0.9);
  border-radius: 0.3rem;
  padding: 0rem 1rem 0.2rem 1rem;
  font-size: 1.3rem;
}

.voterate span {
  font-size: 0.8rem;
}

h1 {
  text-align: center;
  margin-top: -0.5rem;
}

h1 span {
  font-size: 1.5rem;
  color: gray;
  font-weight: 500;
  padding-left: 1rem;
}

.vote {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 2rem;
}

.vote p {
  font-size: 1rem;
  color: dimgrey;
  margin: 0 3rem 0 0;
}

.vote span {
  font-size: 2rem;
  margin-left: 0.5rem;
}

.vote button {
  background: transparent;
  border-style: none;
  color: palevioletred;
  font-size: 2rem;
  margin-top: 0.4rem;
  cursor: pointer;
}

.vote button:hover {
  color: rgb(233, 75, 128);
}